body {
	margin: 30px;
	background-image: url(../img/white.jpg);
	font-size: 16px;
}

#left {
  float: left;
  margin: 0 10px 10px 0;
}

h1, h2 {
	color: #800000;
}

.div2 {
	clear: left;
}

.indent {
	text-indent: 30px;

}

.center {
	text-align: center;
}

li a {
	text-decoration: none;
	color: #0000ff;	
}

li a:hover {
	text-decoration: underline;
}

#ul_blue {
	list-style-type:none;
	color: #0000ff;
	font-weight: bold;
}

footer
{
	font-style: italic; 
	color: #000000;
	text-align: center;
}

a.footer
{
	text-decoration: underline;
	color: #0000ff;
}

